.text-gray {
    color: #e0dfe3;
}

th.bg-info.text-center {
    font-size: 14px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
}

.form-control::-moz-placeholder {
    color: #e0e0e0;
    opacity: 1;
}

.text-red {
    color: red;
}